/* Global styles and variables */
:root {
    --background-color: #f0f2f5;
    --text-color: #333;
    --primary-color: #4a90e2;
    --secondary-color: #50e3c2;
    --accent-color: #f5a623;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
    font-size: 18px;
    background: var(--background-color);
    color: var(--text-color);
    text-align: left;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5em;
    font-weight: 300;
    margin: 0.3em 0;
    text-align: center;
}

h2 {
    font-weight: 400;
    color: var(--primary-color);
    margin-bottom: 1em;
}

h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
    color: #fff;
}

small {
    font-size: 0.8em;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

a:hover {
    color: var(--accent-color);
}

iconify-icon {
    width: 1.5em;
    height: auto;
    overflow: hidden;
}

/* Header */
.trip-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-color: var(--primary-color);
    color: #fff;
}
.trip-info h1 {
    margin: 0;
    font-weight: bold;
}
.trip-info p {
    margin: 0;
    padding: 0;
    font-weight: 100;
}
#country-flags {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}

/* Content Container */
.content-container {
    flex: 1;
    display: flex;
    flex-direction: row-reverse; /* Map on the right, timeline on the left */
    height: calc(100vh - 200px); /* Adjust based on the height of your header and footer */
}

.timeline {
    width: 25%;
    overflow-y: auto;
    background-color: #e0e0e0;
    padding: 0.5em;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);

}

#mapid {
    width: 75%;
    height: 100%;
}

/* Timeline Steps */
.timeline-step {
    margin-bottom: 0.5em;
}

.timeline-step .card {
    display: block;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.timeline-step .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Overlay effect */
}

.timeline-step .card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.timeline-step .card-content {
    position: absolute;
    bottom: 0;
    padding: 1em;
    color: #fff;
    z-index: 1;
}

.timeline-step h3, .timeline-step small {
    margin: 0;
}

.timeline-step h3 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
}

.timeline-step small {
    font-size: 0.9em;
}

.timeline-step .country-flag {
    margin: 0 5px;
    width: 1em;
    border-radius: 18%;
}

/* Media Queries */
@media (max-width: 767px) {
    .content-container {
        flex-direction: column;
    }
    #mapid {
        width: 100%;
        height: calc(100vh - 160px); /* Adjust based on the height of the timeline */
    }
    .timeline {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 160px; /* Adjust as necessary */
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 0.5em;
        background-color: #e0e0e0;
        z-index: 1000;
    }
    .timeline-step {
        display: inline-block;
        vertical-align: top;
        width: 200px; /* Adjust as necessary */
        margin-right: 1em;
    }
    .timeline-step .card {
        height: 130px;
    }
}

/* Country flags styling */
.country-flag {
    margin: 0 2px;
    width: 1.8em;
    border-radius: 18%;
}

/* Map marker styles */
.numbered-marker .marker-circle {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
}

.numbered-marker.highlight .marker-circle {
    background-color: var(--accent-color);
    transform: scale(1.2);
}

/* Additional Styles */
.footer {
    font-style: italic;
    margin-top: 45px;
    color: var(--text-color);
    text-align: center;
}
