<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/leaflet.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/glightbox.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/splide.min.css' | relative_url }}">
</head>
<body>
    <script src="{{ '/assets/js/leaflet.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/glightbox.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/iconify-icon.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/splide.min.js' | relative_url }}"></script>


  {{ content }}
</body>
</html>
