---
layout: default
---

<!-- Display Trip Info -->
<div class="trip-info">
    <h1>{{ page.title }}</h1>
    <div class="trip-summary">
        <p class="summary-text">{{ page.summary }}</p>
        <div class="trip-details">
            <p class="total-distance" id="total-distance">{{ page.total_distance | round }} km</p>
            <p class="total-entries">{{ page.total_entries }} steps</p>
        </div>
    </div>
    <!-- Display country flags -->
    <div id="country-flags">
        {% for code in page.countrie_codes_visited %}
            <iconify-icon class="country-flag" icon="flag:{{ code | downcase }}-4x3" width="100%" height="100%"></iconify-icon>
        {% endfor %}
    </div>
</div>

<!-- Content Container -->
<div class="content-container">
    <!-- Map -->
    <div id="mapid"></div>

    <!-- Timeline -->
    <div class="timeline">
        {% assign trip_slug = page.trip_slug %}
        {% assign steps = site.trips | where_exp: "item", "item.trip_slug == trip_slug and item.layout == 'step'" | sort: "date" %}
            {% for step in steps %}
            {% assign index = forloop.index0 %}
            <div class="timeline-step" data-step-index="{{ forloop.index0 }}">
                <div class="card">
                    <!-- Photo gallery carousel -->
                    <section class="splide splide-{{ index }}" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for photo in step.photos %}
                                    <li class="splide__slide">
                                        <a  href="{{ photo }}" 
                                            class="glightbox glightbox-{{ index }}"
                                            data-glightbox="title: <b>{{ step.title }}</b>" 
                                            data-gallery="gallery-{{ index }}"
                                            >
                                            <img src="{{ photo }}" alt="{{ step.title }}" >
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                    <!-- Card content -->
                    <div class="card-content">
                        <h3>{{ step.title }}</h3>
                        <div class="card-header">
                            <div class="country-flag-container">
                                <iconify-icon class="step-icon country-flag" icon="flag:{{ step.country_code | downcase }}-4x3" width="100%" height="100%"></iconify-icon>
                            </div>
                            <div class="weather-info-container">
                                <iconify-icon class="step-icon weather-icon" icon="meteocons:{{ step.weather}}-fill" width="100%" height="100%"></iconify-icon>
                                <small class="temperature">{{ step.weather_temperature | round }}°C</small>
                            </div>
                            <div class="date-container">
                                <small class="date">{{ step.date | date: "%d.%m.%Y" }}</small>
                            </div>
                        </div>
                        <!-- Text preview with expandable content -->
                        <div class="card-text">
                            <div class="preview">
                                {{ step.description | strip_html | truncatewords: 50 }}
                            </div>
                            <div class="full-text" style="display: none;">
                                {{ step.description }}
                            </div>
                            <button class="expand-button">Mehr anzeigen</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<script>
    // ##### Leaflet Map #####
    // Initialize the map
    var mymap = L.map('mapid').setView([0, 0], 2);

    // Add OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Kartendaten © OpenStreetMap-Mitwirkende'
    }).addTo(mymap);

    // Step coordinates
    var markers = [];
    var markerGroup = L.featureGroup();

    // Add markers
    {% for step in steps %}
        (function(){
            var index = {{ forloop.index0 }};
            var markerData = {
                lat: {{ step.lat }},
                lon: {{ step.lon }},
                title: "{{ step.title | escape }}",
                date: "{{ step.date | date: "%d.%m.%Y" }}",
                url: "{{ step.url }}"
            };
            var myIcon = L.divIcon({
                className: 'numbered-marker',
                html: '<div class="marker-circle">' + (index + 1) + '</div>',
                iconSize: [30, 30],
                iconAnchor: [15, 30],
                popupAnchor: [0, -30]
            });
            var m = L.marker([markerData.lat, markerData.lon], {icon: myIcon});
            m.bindPopup('<b><a href="' + markerData.url + '">' + markerData.title + '</a></b><br>' + markerData.date);
            m.on('click', function() {
                window.location.href = markerData.url;
            });
            m._index = index; // Assign an index to the marker

            markers.push(m);
            markerGroup.addLayer(m);
        })();
    {% endfor %}

    // Add marker group to the map
    markerGroup.addTo(mymap);

    // Fit the map to the markers
    if (markerGroup.getLayers().length > 0) {
        mymap.fitBounds(markerGroup.getBounds());
    }

    // Load route from GeoJSON
    fetch('route.geojson')
        .then(response => response.json())
        .then(data => {
            var geojsonLayer = L.geoJSON(data, {
                style: function (feature) {
                    return { color: 'blue' };
                }
            }).addTo(mymap);
            mymap.fitBounds(geojsonLayer.getBounds());
        });

    // Invalidate map size on window resize
    window.addEventListener('resize', function(){
        mymap.invalidateSize();
    });

    // Highlight marker on timeline hover and pan map to marker
    document.querySelectorAll('.timeline-step').forEach(function(stepElement){
        var index = stepElement.getAttribute('data-step-index');
        var marker = markers[index];

        stepElement.addEventListener('mouseover', function(){
            marker.setZIndexOffset(1000); // Bring marker to front
            // Add highlight class to marker icon
            if (marker._icon) {
                marker._icon.classList.add('highlight');
            }
        // Pan map to marker and set zoom level
        mymap.setView(marker.getLatLng(), 8, { animate: true, duration: 0.5 });
   });

        stepElement.addEventListener('mouseout', function(){
            marker.setZIndexOffset(0);
            // Remove highlight class from marker icon
            if (marker._icon) {
                marker._icon.classList.remove('highlight');
            }
            // Optionally, you can pan back to original bounds or previous center
            // mymap.fitBounds(markerGroup.getBounds());
        });
    });

     // Expand/collapse functionality
     document.querySelectorAll('.expand-button').forEach(function(button){
        button.addEventListener('click', function(){
            var cardText = this.parentElement;
            var fullText = cardText.querySelector('.full-text');
            var preview = cardText.querySelector('.preview');
            if (fullText.style.display === 'none' || fullText.style.display === '') {
                fullText.style.display = 'block';
                preview.style.display = 'none';
                this.textContent = 'Weniger anzeigen';
            } else {
                fullText.style.display = 'none';
                preview.style.display = 'block';
                this.textContent = 'Mehr anzeigen';
            }
        });
    });
</script>

<script>
// ##### Carousel #####
// Initialize Splide Carosel
document.addEventListener('DOMContentLoaded', function () {
    var splideElements = document.querySelectorAll('.splide');

    splideElements.forEach(function (element) {
        var splide = new Splide(element, {
            type     : 'slide',  
            perPage  : 3,
            perMove  : 1,
            gap      : '0.5em',
            height   : '10rem',
            focus    : 'center',
            autoWidth: true,
        });

        splide.mount();
    });
});
</script>

<script>
// ##### Lightbox #####
const customLightboxHTML = `<div id="glightbox-body" class="glightbox-container">
    <div class="gloader visible"></div>
    <div class="goverlay"></div>
    <div class="gcontainer">
        <div id="glightbox-slider" class="gslider"></div>
        <div class="gthumbnails"></div>
        <button class="gnext gbtn" tabindex="0" aria-label="Next" data-customattribute="example">{nextSVG}</button>
        <button class="gprev gbtn" tabindex="1" aria-label="Previous">{prevSVG}</button>
        <button class="gclose gbtn" tabindex="2" aria-label="Close">{closeSVG}</button>
    </div>
</div>`;

let customSlideHTML = `<div class="gslide">
    <div class="gslide-inner-content">
        <div class="ginner-container">
            <div class="gslide-media">
            </div>
            <div class="gslide-description">
                <div class="gdesc-inner">
                    <h4 class="gslide-title"></h4>
                    <div class="gslide-desc"></div>
                </div>
            </div>
        </div>
    </div>
</div>`;


const lightbox = GLightbox({ 
    selector: '.glightbox',
    keyboardNavigation: true,
    touchNavigation: true,
    loop: true,
    slideEffect: 'slide',
    CloseOnOutsideClick: true,
    draggable: true,
    zoomable: false,

    height: '8%',
    width: '8%',
});
</script>

<script>
// ##### format total distance number #####
document.addEventListener("DOMContentLoaded", function() {
    var totalDistanceElement = document.getElementById("total-distance");
    var totalDistanceText = totalDistanceElement.textContent;
    var totalDistanceValue = parseInt(totalDistanceText.replace(' km', ''), 10);
    totalDistanceElement.textContent = totalDistanceValue.toLocaleString('de-DE') + ' km';
});
</script>
