---
layout: default
--- 
<h1>My Trips</h1>

<div class="trips-container">
  {% assign trips = site.trips | group_by_exp: "trip", "trip.dir" | sort: "name" %}
  {% for trip in trips %}
  {% assign steps = trip.items | sort: "date" %}
  {% for step in steps %}
  {% if step.layout == 'trip' %}
    <div class="trip-card">
      <div class="trip-card-content">
        <h3>{{ step.title }}</h3>
        <p class="trip-date">{{ step.date }}</p>
        <p class="trip-summary">{{ step.summary }}</p>
        <a class="trip-link" href="{{ step.url }}">Read more</a>
      </div>
    </div>
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>
